.position-full-tile {
   background-color: $background-grey2-dark;
   margin-top: 1rem;
   margin-bottom: 0;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;

   .content {
      display: flex;
      gap: 0.5rem;

      &.top-content {
         padding: $padding-xs calc($padding-s / 1.5);
      }

      &.hidden-content {
         justify-content: space-between;
         padding: 0 calc($padding-s / 1.5) $padding-xs calc($padding-s / 1.5);

         .column {
            display: flex;
            flex-direction: column;

            &.right {
               margin-left: 0;

               .price-display,
               .percent-display {
                  width: 100%;
                  display: inline-block;
               }
            }
         }

         &.block {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;


            .column {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               flex: 1;
               background-color: $background-paper-light;
               padding: $padding-xs;
               border-radius: $radius-xs;

               &.stoploss {
                  color: $error;
               }

               &.takeprofit {
                  color: $success;
               }

               &.trailing {
                  color: $warn;
               }

               label, p {
                  text-align: center;
               }
            }
         }
      }

      .column {
         flex: 1;

         &.auto-left {
            margin-left: auto;
         }

         &.right {
            margin-left: auto;

            p, label, span, label {
               text-align: right;
            }
         }

         &.centralize {
            text-align: center;
         }
      }

      label {
         margin: 0;
         font-size: 0.7rem;
         color: $text-darken;
         width: 100%;
         display: inline-block;
      }

      p, .pretty-date {
         margin: 0;
         font-size: 0.85rem;

         .status-badge {
            padding: 0.15rem 0.25rem;
            margin-left: 0.4rem;
            font-size: 0.73rem;
            font-weight: 500;
         }
      }

      .price-display,
      .percent-display {
         font-weight: 500;
      }
   }

   .hidden-content {
      display: flex;
      gap: 0.5rem;
      padding: 0 calc($padding-s / 1.5) $padding-xs calc($padding-s / 1.5);
   }
}
