@import "../../../../style/scss/variables.scss";

.content-modal {
   display: flex;
   align-items: center;
   justify-content: center;

   .MuiModal-backdrop {
      background-color: rgb(44 73 81 / 50%);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
   }

   .modal {
      box-shadow: $acrylic-transparent-shadow;
      background-color: $acrylic-transparent-dark;
      border-radius: $radius-m;
      outline: none;
      overflow: hidden;
      position: relative;
      max-height: 80vh;
      overflow-y: auto;

      @media screen and (max-width: $screen-m) {
         border-radius: 0;
      }

      .modal-header {
         position: sticky;
         top: 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: $space-m;
         background-color: $background-dark;
         z-index: 5;
      }

      .modal-body {
         &.padding-xs {
            padding: $padding-xs;

            @media screen and (max-width: $screen-m) {
               padding: $padding-xs / 2;
            }
         }

         &.padding-s {
            padding: $padding-s;

            @media screen and (max-width: $screen-m) {
               padding: $padding-s / 2;
            }
         }

         &.padding-m {
            padding: $padding-m;

            @media screen and (max-width: $screen-m) {
               padding: $padding-m / 2;
            }
         }

         &.padding-l {
            padding: $padding-l;

            @media screen and (max-width: $screen-m) {
               padding: $padding-l / 2;
            }
         }

         &.padding-xl {
            padding: $padding-xl;

            @media screen and (max-width: $screen-m) {
               padding: $padding-xl / 2;
            }
         }
      }

      .modal-title {
         font-size: 1.1rem;
         font-weight: 400;
         margin: 0;
      }

      &.x-large {
         width: 95%;
         max-width: $screen-xl;

         @media screen and (max-width: $screen-m) {
            width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
         }
      }

      &.large {
         width: 95%;
         max-width: $screen-l;

         @media screen and (max-width: $screen-m) {
            width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
         }
      }

      &.medium {
         width: 95%;
         max-width: $screen-m;
      }

      &.small {
         width: 95%;
         max-width: $screen-s;
      }

      &.x-small {
         width: 95%;
         max-width: $screen-xs;
      }
   }
}
