@import "../../../../style/scss/variables.scss";

.position-quickview {
   .content-sidebar {
      width: 100%;
      padding-bottom: 1rem;
      gap: 1.5rem;

      .content {
         min-width: calc(60% - 1rem);
      }

      .sidebar {
         min-width: calc(40% - 1rem);
      }
   }

   .card {
      .contained-table {
         margin: 0;
      }
   }

   .modal-title {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;

      .status-badge {
         transform: translateY(1px);
      }
   }

   .positions-limits {
      $gap: 0.7rem;

      .cards-wrap {
         display: flex;
         gap: $gap;
         margin-bottom: $gap;
      }

      .price-card {
         flex: calc(50% - $gap);
         margin: 0;
         padding: 0.1rem 0.5rem 0.5rem 0.5rem;
         text-align: center;

         label {
            color: $text-darken;
            font-size: 0.7rem;
            text-transform: uppercase;
         }

         span {
            display: block;
            font-size: 1rem;
            font-weight: 500;
         }
      }
   }
}
