.plan-card {
   padding: $padding-m;

   .plan-title {
      font-size: 1.4rem;
      margin-top: 0;
   }

   .plan-title,
   .plan-price {
      text-align: center;
   }

   .select-plan-button {
      margin: 1rem auto 0 auto;
   }
}
