NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Tam6X1claDIcye4ZT6zwkVS1iUHvfICs7AQu4nwam6SiUvlYZE9G9FnhBmgQq7itr28qJL3rUN3u49tSAaKyXTn00lq9P0pQa
NEXT_PUBLIC_FILE_BUCKET_HOST=https://api.candlepilot.com:1000
NEXT_PUBLIC_GA_ID=G-EXAMPLE123