.master-details {
   .closed-positions {
      margin-top: 2rem;
   }

   .sidebar {
      .master-accounts {
         margin-top: 2rem;
      }
   }

   .toggle-sidebar {
      @media screen and (min-width: $screen-l) {
         display: none;
      }
   }
}

.sidebar.swipe-drawer {
   .MuiDrawer-paper {
      .user-instance {
         .status {
            small {
               display: none;
            }
         }
      }

      .master-accounts {
         margin-top: 2rem;
      }

      .setting {
         .setting-label {
            font-size: 0.75rem;
         }

         .setting-value p {
            font-size: 0.8rem;
         }

         .column {
            padding: 0.3rem 0.5rem 0.1rem 0.5rem;
         }
      }

      .card-title {
         margin: 0;
      }
   }
}

.master-analysis {
   margin: 1.5rem 0;

   .charts {
      display: flex;
      margin-top: 1rem;
      flex-direction: column;

      @media screen and (min-width: $screen-m) {
         flex-direction: row;
      }

      .chart {
         flex: calc(35% - 1rem);
         margin-bottom: 0;

         &.large {
            flex: calc(65% - 1rem);
         }

         >.content-header {
            padding-top: 0;
         }
      }
   }
}
