.cta-button {
   &.MuiButton-contained {
      background: $grad-primary-tertiary-light;
      color: $text-tertiary;

      &:disabled {
         background: $background-blue-grey;

         &.MuiButton-containedTertiary {
            color: $text-disabled;
         }
      }
   }

   &.MuiButton-sizeLarge {
      @media screen and (max-width: $screen-m) {
         padding: 6px 16px;
      }
   }
}
