.positions-table {
   tr td {
      span,
      p,
      b {
         font-size: 0.85rem;
      }

      small {
         color: $grey-light;
      }

      .status-badge {
         font-size: 0.7rem;
      }
   }
}
