.bot-details {
   .content-header {
      margin-bottom: 2rem;
   }

   .page-header {
      margin: 0;
      width: 100%;

      .cover {
         min-height: 200px;
      }

      .title {
         font-size: 1.6rem;
         margin-bottom: 2rem;
      }

      .bot-info {
         $height: 200px;
         box-shadow: $shadow-5;

         background-color: $background-grey2-dark;
         padding: 1rem 0 0 0;

         >.full-container {
            display: flex;
            gap: 1rem;

            @media screen and (max-width: $screen-m) {
               flex-direction: column;
            }
         }

         .avatar {
            $side: $height * 1.1;

            display: flex;
            justify-content: center;
            align-items: center;
            width: $side;
            height: $side;
            border-radius: $side;
            background-color: $background;
            box-shadow: $shadow-3;
            margin: calc(($side * 0.6) * -1) auto 0 auto;

            .robot-icon {
               font-size: calc($side / 1.5);
               color: $tertiary-light;
            }
         }

         .summary {
            flex: 1;
            padding: 0.5rem 1rem;

            .brief {
               padding-right: 3rem;
               color: $text-darken;
               white-space: pre;
            }
         }

         .infos {
            width: 100%;
            transform: translateY(0);
            margin-bottom: 3rem;

            @media screen and (min-width: $screen-m) {
               width: 35%;
               margin-top: -150px;
               margin-bottom: 5rem;
            }

            .check-button-group {
               .options-wrap {
                  margin-top: 0;

                  .check-button:not(.checked) {
                     background-color: $background-paper-light;
                  }
               }
            }
         }
         
         .settings-painel {
            width: 100%;
            background-color: $background-grey3;
            padding: 3rem 3% 0 3%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .painel-title {
               $fontSize: 2.1rem;

               display: block;
               transform: translateY(calc($fontSize * 0.3));
               margin-top: 0;
               margin-right: 0;
               margin-left: 3%;
               margin-bottom: 0;
               color: $background-paper-dark;
               line-height: calc($fontSize * 1.6);
               font-size: $fontSize;
               font-weight: 900;

               @media screen and (min-width: $screen-m) {
                  $fontSize: 4rem;
                  transform: translateY(calc($fontSize * 0.095));
                  line-height: calc($fontSize * 0.9);
                  font-size: $fontSize;
               }

               @media screen and (min-width: $screen-s) and (max-width: $screen-m) {
                  font-size: 3.2rem;
               }
            }

            .rubber-button {
               transform: translateY(-1.5rem);
            }
         }
      }

      .analysis {
         flex-direction: column;
         margin-bottom: 3rem;

         >.content-header {
            gap: 1.5rem;
            padding: 0;
            margin-bottom: 0;
            color: $text-darken;

            .title-icon {
               font-size: 3.4rem;
            }

            .header-title {
               font-size: 1.8rem;
               font-weight: 700;
            }
         }

         &.charts {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            flex-direction: column;
            flex-wrap: wrap;

            @media screen and (min-width: $screen-m) {
               flex-direction: row;
               gap: 2rem;
            }

            @media screen and (min-width: $screen-xl) {
               flex-direction: row;
               gap: 3rem;
            }

            .chart {
               flex: 100%;
               padding-right: 0.6rem;
               background-color: $background-grey2-dark;

               @media screen and (min-width: $screen-m) {
                  flex: calc(25% - 3rem);
               }
            }
         }
      }
   }

   .bot-settings {
      &.content-split {
         row-gap: 0;
         padding-top: 3rem;
         padding-bottom: 2rem;

         .content-header {
            margin-bottom: 0;
         }
      }

      .loss-gain-settings {
         $gap: 1rem;

         display: flex;
         gap: $gap;
         flex-wrap: wrap;

         .bot-value-single {
            flex: calc(50% - $gap);
            background-color: $background-paper-light;

            @media screen and (max-width: $screen-l) {
               flex: 100%;
            }
         }
         
         .no-documents-tile {
            min-width: auto;
            flex: calc(50% - $gap);
            border-width: 3px;

            &.stoploss {
               border-color: $error;
               color: $error;
            }

            &.takeprofit {
               border-color: $success;
               color: $success;
            }

            .message {
               font-weight: 600;
            }
         }

         >.content-header {
            >.toolbar {
               min-height: 37px;
            }
         }
      }
   }

   .no-documents-tile {
      margin-bottom: 1rem;
   }
}
