@import "../../../../../style/scss/variables.scss";

.bot-details {
   .content-header {
      margin-bottom: 2rem;
   }

   .page-header {
      margin: 0;
      width: 100%;

      .cover {
         min-height: 200px;
      }

      .title {
         font-size: 1.3rem;
      }

      .bot-info {
         $height: 200px;

         background-color: $background-grey2-dark;
         padding: 1rem 0;
         padding-left: 0.9%;
         padding-right: 0.9%;

         >.full-container {
            display: flex;
            gap: 1rem;

            @media screen and (max-width: $screen-m) {
               flex-direction: column;
            }
         }

         .avatar {
            $side: $height * 1.1;

            width: $side;
            height: $side;
            border-radius: $side;
            background-color: $white;
            transform: translateY(($side * 0.5) * -1);

            @media screen and (max-width: $screen-m) {
               margin: 0 auto;
               margin-top: -calc($height / 2);
            }
         }

         .summary {
            flex: 1;
            padding: 0.5rem 1rem;

            .brief {
               padding-right: 3rem;
               color: $text-darken;
            }
         }

         .infos {
            width: 35%;
            transform: translateY(-40%);
            
            @media screen and (max-width: $screen-m) {
               width: 100%;
            }
         }
      }
   }

   .bot-settings {
      &.content-split {
         row-gap: 0;
         padding-top: 3rem;
         padding-bottom: 2rem;

         .content-header {
            margin-bottom: 0;
         }
      }

      .loss-gain-settings {
         display: flex;
         gap: 1rem;
         flex-wrap: wrap;

         .bot-value-single {
            flex: calc(50% - 1rem);
            background-color: $background-paper-light;

            @media screen and (max-width: $screen-l) {
               flex: 100%;
            }
         }
      }
   }
}
