.choose-bot {
   .section-header {
      .pilot-logo {
         transform: translateY(1rem);
      }
   }

   .content-split {
      gap: 8rem;

      @media screen and (min-width: $screen-m) {
         gap: 1rem;
      }

      .content-b {
         width: 100%;
         padding-bottom: 5%;
      }
   }


   .image-spot {
      max-width: 100%;

      .table-image {
         width: 100%;
         overflow-x: auto;

         .big-value {
            font-weight: 600;

            span {
               font-size: 1.2rem;
            }

            small {
               font-size: 1rem;
            }
         }

         .hide-mobile {
            display: none;

            @media screen and (min-width: $screen-xl) {
               display: table-cell;
            }
         }

         .profit {
            color: $success;
         }

         .loss {
            color: $error;
         }
      }

      .bot-card {
         position: absolute;
         top: 12%;
         right: 7%;
         width: 80%;
         transform: scale(0);
         transition: transform 100ms;

         @media screen and (min-width: $screen-m) {
            width: 400px;
            right: 5%;
         }

         @keyframes motion {
            0% {
               transform: scale(0) translateY(0);
            }
            1% {
               transform: scale(1) translateY(0);
            }
            50% {
               transform: scale(1) translateY(-10vh);
            }
            99% {
               transform: scale(1) translateY(0);
            }
            100% {
               transform: scale(1) translateY(0);
            }
         }

         &.expanded {
            animation: motion 30s ease-in-out normal;
            transform: scale(1);
         }

         .avatar-wrap {
            $diameter: 130px;

            min-height: $diameter * 1.3;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 2rem;

            .avatar-mask {
               height: $diameter;
               width: $diameter;
               border-radius: $diameter;
               overflow: hidden;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }

         .description {
            margin-bottom: 1rem;
            font-size: 0.95rem;
         }

         .score {
            padding: 1rem;
            background: $grad-primary-tertiary-light;
            border-radius: $radius-xs;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $background-grey2;

            label {
               font-weight: 600;
            }
            
            span {
               font-size: 1.3rem;
               font-weight: 700;
            }
         }
      }
   }
}
