@import "../../../style/scss/variables.scss";

.percent-display {
   font-size: 1rem;
   font-weight: 500;

   &[color=success] {
      color: $success;
   }

   &[color=error] {
      color: $error;
   }

   &[font-size=xxs] {
      font-size: xx-small;
   }

   &[font-size=xs] {
      font-size: x-small;
   }

   &[font-size=s] {
      font-size: small;
   }

   &[font-size=m] {
      font-size: medium;
   }

   &[font-size=l] {
      font-size: large;
   }

   &[font-size=xl] {
      font-size: x-large;
   }

   &[font-size=xxl] {
      font-size: xx-large;
   }
}
