.my-pilots {
   position: relative;

   .page-header {
      display: flex;
      align-items: center;

      .page-title {
         font-size: 1.8rem;
      }

      .my-pilots-status-filter {
         margin-left: auto;
      }

      .my-pilots-menu-button {
         background-color: $background-paper-light;
         box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
      }

      .rubber-button.MuiButton-containedPrimary.MuiButton-colorPrimary {
         color: $text;
      }
   }

   .draft-accordion {
      margin-top: 3rem;

      .title-wrap {
         display: flex;
         gap: 0.6rem;
         align-items: center;
         font-size: 1.4rem;
         font-weight: 600;
   
         .draft-icon {
            font-size: 2.2rem;
         }
      }
   }
}
