@import "../../../style/scss/variables.scss";

.top-banner {
   background-image: url(../../../assets/bg_shape_1.svg);
   background-repeat: no-repeat;
   background-position: 0;
   background-size: auto 100%;
   width: 100%;
   min-height: 80vh;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media screen and (max-width: $screen-xl) {
      background-position: center;
   }

   .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .column {
         flex: 1;
      }
   }

   .cta-button {
      margin-top: 0;

      @media screen and (min-width: $screen-m) {
         margin-top: 2rem;
      }
   }
}
