.form-base {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   .buttons {
      margin-top: 1rem;
   }

   .help-info {
      font-size: 0.9rem;
      color: $text-darken;
   }
}
