$top-offset: 72.88px;
$bottom-offset: 34.55px;

.chat-base-container {
   display: flex;

   &.open {
      &.floating {
         .chat-base {
            border-left: 0;
            position: fixed;
            top: auto;
            bottom: $bottom-offset;
            right: 3rem;
            width: 400px;
            height: 600px;
            min-width: 320px;
            min-height: 420px;
            max-width: 100vw;
            max-height: 100vh;
            box-shadow: 0 0 20px $black;

            @media screen and (min-width: $screen-m) {
               border-radius: $radius-m;
            }

            &.draggable {
               .chat-header {
                  cursor: grab;
                  touch-action: none;
               }

               &.dragging {
                  -webkit-user-select: none;
                  user-select: none;

                  .chat-header {
                     cursor: grabbing;
                  }
               }
            }

            &.resizable {
               resize: both;
            }
         }
      }

      &:not(.floating) {
         .chat-page-content {
            min-width: 75%;
         }

         .chat-base-sidebar {
            min-width: 25%;
         }
      }
   }

   .chat-page-content {
      min-width: 100%;
      transition: min-width 0.2s ease-in-out;
      padding-top: 3rem;
      padding-bottom: 8rem;
   }

   .chat-base-sidebar {
      min-width: 0;
      transition: min-width 0.2s ease-in-out;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      background-color: #000000aa;

      @media screen and (min-width: $screen-m) {
         z-index: 10;
         position: relative;
         display: block;
         background-color: transparent;
      }
   }

   .hide-mobile {
      @media screen and (max-width: $screen-m) {
         display: none;
      }
   }
}

.chat-base {
   position: sticky;
   bottom: 0;
   z-index: 1000;
   overflow: hidden;
   margin-bottom: 0;
   display: flex;
   flex-direction: column;
   transition: transform 0.3s ease-in-out;
   background-color: $background;
   min-height: 80vh;
   max-height: 80vh;
   margin-top: auto;
   border-radius: $radius-s $radius-s 0 0;

   @media screen and (min-width: $screen-m) {
      border-left: 3px solid $background-grey3-light;
      top: $top-offset;
      bottom: $bottom-offset;
      min-height: calc(100vh - #{$top-offset} - #{$bottom-offset});
      max-height: calc(100vh - #{$top-offset} - #{$bottom-offset});
      border-radius: 0;
   }

   .chat-header {
      border-bottom: 1px solid $background-grey3-light;
      padding: $padding-xs $padding-xs $padding-xs $padding-s;
      background-color: $background-paper;
      border-radius: $radius-s $radius-s 0 0;
      display: flex;
      align-items: center;
      flex: 0;
      position: relative;
      cursor: pointer;

      @media screen and (min-width: $screen-m) {
         border-radius: 0;
      }

      .MuiSvgIcon-root {
         color: $text-soft;
      }

      .chat-header-title {
         margin: 0;
         font-size: 1rem;
         font-weight: 500;
         color: $text-soft;
         margin-left: 0.5rem;
         -webkit-user-select: none;
         user-select: none;
         margin-right: auto;
      }
   }

   .chat-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;

      .chat-history {
         flex: 1;
         min-height: 0;
         border-radius: $radius-s;
         padding: 1rem;
         overflow-y: auto;

         .history-item {
            width: fit-content;
            border-radius: $radius-s;
            margin-bottom: 2rem;
            padding: 0.7rem;

            &:last-child {
               border-bottom: none;
            }

            &.user-message {
               max-width: 90%;
               margin-left: auto;
               background-color: $background-paper;

               .history-item-time {
                  width: 100%;
                  display: inline-block;
                  text-align: right;
               }
            }

            .Markdown {
               color: $text-soft;
               border-bottom: 1px solid $background-grey3-light;
               padding-bottom: 0.3rem;

               p,
               li {
                  font-size: 0.9rem;
               }

               p:last-child {
                  margin-bottom: 0;
               }

               h1 {
                  font-size: 1.2rem;
                  margin-top: 0.4rem;
               }

               h2 {
                  font-size: 1.1rem;
               }

               h3 {
                  font-size: 1rem;
               }

               h4 {
                  font-size: 0.95rem;
               }

               hr {
                  margin: 1rem 0 1.5rem 0;
               }

               code {
                  background-color: $background-grey3-light;
                  padding: 0.1rem 0.2rem;
                  border-radius: $radius-xs;
                  font-family: 'Source Code Pro', monospace;
                  font-size: 0.95em;
               }
            }

            .history-item-time {
               color: $text-softer;
               font-size: 0.75rem;
            }
         }

         .history-item-status-container {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: flex-start;
            margin-left: 0.5rem;

            .spinner-block {
               position: relative;
               min-width: auto;
               transform: none;
               display: flex;
               align-items: center;

               .spinner-item {
                  margin: 0;

                  .lds-ring {
                     $size: 1rem;

                     width: $size;
                     height: $size;

                     div {
                        width: $size;
                        height: $size;
                        border-width: 1.5px;
                        margin: 0;
                     }
                  }
               }
            }

            .history-item-status {
               color: $text-softer;
               display: block;
               font-size: 0.75rem;
               margin-bottom: 0.25rem;

               &.thinking,
               &.writing {
                  color: $primary-light;
               }

               &.error {
                  color: $error;
               }
            }
         }
      }

      .chat-input {
         flex: 0;
         position: relative;
         padding: 0 1rem 1rem 1rem;

         .MuiFilledInput-root {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 0.8rem 4rem 0.8rem 0.8rem;
            font-size: 0.9rem;

            &::after {
               border-bottom: 0;
            }
         }

         .chat-send-button {
            position: absolute;
            bottom: 1.4rem;
            right: 1.3rem;
            background: $background;
         }
      }
   }
}

.chat-toggle-button {
   bottom: calc($bottom-offset + 3rem);
   right: 3rem;
   z-index: 1001;
   transition: transform 0.3s ease-in;

   &.MuiIconButton-root,
   &.MuiFab-root {
      position: fixed;
      background-color: $primary;
      color: $text;

      &:hover {
         background-color: lighten($primary, 10%);
      }
   }

   &.MuiFab-extended {
      .chat-toggle-icon {
         margin-right: 0.5rem;
      }
   }

   &.open {
      transform: translateY(200px);
   }
}