@import "../../../style/scss/variables.scss";

.watermark-price-card {
   position: relative;

   .watermark {
      position: absolute;
      font-weight: 900;
      text-transform: uppercase;
      color: $background-grey2-dark;
      -webkit-user-select: none;
      user-select: none;

      &[border-side=left] {
         transform: rotateZ(-90deg);
      }

      &[border-side=right] {
         transform: rotateZ(-90deg);
      }
   }
}
