.alt-modal-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0.9rem;

   .button-label {
      margin-left: 1rem;
      margin-right: auto;
      font-weight: 700;
   }
}
