.plans-section {
   position: relative;
   margin: 0;
   padding: $padding-xl 0 calc($padding-xl * 2) 0;

   .section-title {
      text-align: center;
   }

   .plans-container {
      display: flex;
      justify-content: center;
      gap: 5rem;
      flex-direction: column;

      @media screen and (min-width: $screen-m) {
         flex-direction: row;
      }
   }
}
