.slider-input {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   padding: 0 0.3rem 0 0.9rem;

   .slider {
      flex: 1;
   }

   .input-text {
      flex: 0;
      min-width: 4rem;
   }
}
