@import "../../../style/scss/variables.scss";

.home-content {
   .features {
      padding: 3rem 0;
      background-color: $background-grey1;

      .content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 0 1rem 0;

         @media screen and (min-width: $screen-m) {
            padding: 5rem 0;
         }

         .column {
            flex: 1;
         }
      }

      .content-a {
         width: 100%;
      }

      .image-spot {
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         min-height: 600px;
         width: 100%;
         margin-top: 3rem;

         @media screen and (min-width: $screen-m) {
            margin-top: 0;
         }

         &.right {
            justify-content: right;
         }

         .image {
            width: 85%;
         }

         .slot-tile {
            position: absolute;
            width: 80%;
            top: 0;

            @media screen and (min-width: $screen-m) {
               width: 70%;
            }

            &.slot-a {
               left: 5%;
               z-index: 10;

               @media screen and (min-width: $screen-m) {
                  left: 0;
               }
            }

            &.slot-b {
               right: 5%;
               margin-top: 25%;
               z-index: 11;

               @media screen and (min-width: $screen-m) {
                  right: 5%;
               }
            }

            .price-display {
               text-align: right;
            }
         }
      }
   }

   .title {
      text-align: center;
      font-size: 1.4rem;

      @media screen and (min-width: $screen-m) {
         font-size: 2rem;
      }
   }
}

.marketing-cta {
   text-align: center;
   
   .message {
      text-align: center;
   }

   @media screen and (min-width: $screen-m) {   
      &.left {
         text-align: left;
   
         .message {
            text-align: left;
         }
      }

      &.right {
         text-align: right;
   
         .message {
            text-align: right;
         }
      }
   }

   .message {
      display: inline-block;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 0;

      @media screen and (min-width: $screen-m) {
         font-size: 2.2rem;
      }

      @media screen and (min-width: $screen-l) {
         font-size: 2.9rem;
      }

      &.line1 {
         font-size: 1.2rem;
         line-height: 1.4em;
         
         @media screen and (min-width: $screen-s) {
            font-size: 1.5rem;
         }

         @media screen and (min-width: $screen-m) {
            font-size: 1.6rem;
         }

         @media screen and (min-width: $screen-l) {
            font-size: 1.8rem;
         }
      }
   }

   .description {
      margin-top: 1rem;
      font-size: 0.97rem;
      
      @media screen and (min-width: $screen-m) {
         font-size: 1.2rem;
      }
   }

   &.left {
      .description {
         @media screen and (min-width: $screen-m) {
            padding-inline-end: 18%;
         }
      }
   }

   &.right {
      .description {
         @media screen and (min-width: $screen-m) {
            padding-inline-start: 18%;
         }
      }
   }
}

.cta-button.d-large.MuiButtonBase-root {
   @media screen and (min-width: $screen-m) {
      padding: 8px 22px;
      font-size: 0.9375rem;
   }
}
