.bot-form {
   .content-split {
      gap: 1.5rem;

      .content-a {
         flex: 45%;
      }

      .content-b {
         flex: 55%;
      }
   }

   .check-button-group {
      background-color: $background-paper;
      padding: $padding-s $padding-s $padding-s $padding-s;
      border-radius: $radius-s;

      .options-wrap {
         gap: 0.5rem;

         .check-button {
            min-width: calc(16.66% - 0.5rem);
            max-width: calc(16.66% - 0.5rem);
            font-size: 0.78rem;
            padding: 0;
            height: 1.8rem;

            &:not(.checked) {
               color: $text-darken;
            }
         }
      }
   }
}