@import "../../../../style/scss/variables.scss";

.bot-rule {
   display: flex;
   gap: 0.5rem;

   @media screen and (max-width: $screen-m) {
      flex-direction: column;
   }

   .bot-divider {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background-grey2;
      padding: 0.5rem;
      border-radius: $radius-s;

      span {
         font-size: 1.7rem;
         font-weight: 900;
      }
   }

   .add-new {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $text-darken;
      
      label {
         cursor: pointer;
         font-size: 0.9rem;
      }
   }

   .bot-value {
      .content-header {
         margin-bottom: 0;
      }
   }

   .buttons {
      display: flex;

      .rubber-button {
         min-width: auto;
         padding: 0.4rem;
         font-size: 1.5rem;
      }
   }
}
