.bot-rule {
   display: flex;
   gap: 0.5rem;

   @media screen and (max-width: $screen-m) {
      flex-direction: column;
   }

   .rule-header {
      position: absolute;  
      left: 0;
      top: 0;
      right: 0;
      background-color: $background-paper;
      height: 2.4rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      span {
         font-size: 1.6rem;
         font-weight: 900;
         position: absolute;
         bottom: -3px;
         left: 15px;
         color: $background-grey2-light;
      }

      .close-button {
         margin-right: 0.3rem;
      }
   }

   .bot-divider {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background-grey2;
      padding: 0.5rem;
      border-radius: $radius-s;
      width: 100%;

      @media screen and (min-width: $screen-m) {
         width: auto;
      }

      span {
         font-size: 1.7rem;
         font-weight: 900;
      }
   }

   .add-new {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $text-darken;
      
      label {
         cursor: pointer;
         font-size: 0.9rem;
      }
   }

   .bot-value {
      .content-header {
         margin-bottom: 0;
      }
   }

   .buttons {
      display: flex;

      .rubber-button {
         min-width: auto;
         padding: 0.4rem;
         font-size: 1.5rem;

         @media screen and (max-width: $screen-m) {
            width: 100%;
         }
      }
   }
}
