.alert-dialog {
   .MuiModal-backdrop {
      background: transparent;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
   }

   .MuiDialog-paper {
      box-shadow: 0 0 70px #111;
      background-color: $secondary-dark;
      max-width: 530px;
      width: 90%;
      margin: 0;
   }

   .content-wrap {
      display: flex;
      padding: 2.3rem 2.1rem 0 2.1rem;
      gap: 1rem;
      flex-direction: column;

      @media screen and (min-width: $screen-m) {
         flex-direction: row;
         gap: 2rem;
      }

      .icon-wrap {
         flex: 0;
         display: flex;
         justify-content: center;
         align-items: center;

         .error-icon {
            width: 70px;
            height: 70px;
         }
      }

      .text-wrap {
         display: flex;
         flex-direction: column;
         justify-content: center;
         flex: 1;

         .inner-title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.7rem;
         }

         p {
            color: $text-darken;
            margin-bottom: 0;
            line-height: 1.3rem;
            color: $text;
            text-align: center;

            @media screen and (min-width: $screen-m) {
               text-align: left;
            }
         }
      }
   }
}
