@import "../../../style/scss/variables.scss";

.masters-grid {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   column-gap: 2%;
   row-gap: 0.7rem;

   &.vertical-align {
      .tile {
         flex: 100%;
      }
   }

   .tile {
      flex: 100%;

      @media screen and (min-width: $screen-s) {
         flex: 49%;
         min-width: 49%;
      }

      @media screen and (min-width: $screen-l) {
         flex: 32%;
         min-width: 32%;
      }

      @media screen and (min-width: $screen-xl) {
         flex: 23.5%;
         min-width: 23.5%;
      }
   }
}

.sidebar {
   .masters-grid {
      margin-top: 1rem;
   }
}
