.my-profile {
   .top-page {
      $avatar-radius: 90px;
      $info-height: 90px;

      margin-bottom: 2rem;

      .top-page-card {
         min-height: 300px;
         position: relative;
         overflow: hidden;

         .top-page-title {
            position: absolute;
            margin-left: calc(5% + #{$avatar-radius} + 2rem);
            left: 0;
            bottom: $info-height;
            margin-bottom: 0;
            font-size: 1.5rem;

            @media screen and (min-width: $screen-m) {
               margin-left: calc(5% + 150px + 2rem);
               font-size: 2.2rem;
            }
         }

         .user-avatar {
            position: static;
         }

         .content-wrap {
            background: $background-paper;
            height: $info-height;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            padding: 0 5%;

            .avatar {
               transform: translateY(-60%);
            }
         }
      }
   }

   .content-header {
      margin-bottom: 1.5rem;
   }
}
