.speed-dial-button {
   position: fixed;

   .MuiSpeedDial-actions {
      .MuiSpeedDialAction-fab {
         color: $success;

         &:hover {
            color: $text-background-blend;
         }
      }
   }
}
