@import "../../../style/scss/variables.scss";

.content-modal {
   display: flex;
   align-items: center;
   justify-content: center;

   .MuiModal-backdrop {
      background-color: rgb(44 73 81 / 50%);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
   }

   .modal {
      box-shadow: $acrylic-transparent-shadow;
      background-color: $acrylic-transparent-dark;
      border-radius: $radius-m;
      outline: none;
      overflow: hidden;
      position: relative;
      max-height: 80vh;
      overflow-y: auto;

      .modal-header {
         position: sticky;
         top: 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: $space-m;
         background-color: $background-dark;
      }

      .modal-body {
         &.padding-xs {
            padding: $padding-xs
         }

         &.padding-s {
            padding: $padding-s
         }

         &.padding-m {
            padding: $padding-m
         }

         &.padding-l {
            padding: $padding-l
         }

         &.padding-xl {
            padding: $padding-xl
         }
      }

      .modal-title {
         font-size: 1.1rem;
         font-weight: 400;
         margin: 0;
      }

      &.x-large {
         width: 95%;
         max-width: $screen-xl;
      }

      &.large {
         width: 95%;
         max-width: $screen-l;
      }

      &.medium {
         width: 95%;
         max-width: $screen-m;
      }

      &.small {
         width: 95%;
         max-width: $screen-s;
      }

      &.x-small {
         width: 95%;
         max-width: $screen-xs;
      }
   }
}
