.marketing-cta {
   &.right {
      text-align: right;

      .message {
         text-align: right;
      }
   }

   .message {
      display: inline-block;
      width: 100%;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0;

      &.line1 {
         font-size: 2.1rem;
         line-height: 1.3em;
      }
   }

   .description {
      margin-top: 1rem;
      font-size: 1.2rem;
   }

   .cta-button {
      margin-top: 2rem;
   }
}

.price-display,
.percent-display {
   font-size: 1rem;
   font-weight: 500;

   &[color=success] {
      color: $success;
   }

   &[color=error] {
      color: $error;
   }

   &[display-size=xxs] {
      font-size: xx-small;
   }

   &[display-size=xs] {
      font-size: x-small;
   }

   &[display-size=s] {
      font-size: small;
   }

   &[display-size=m] {
      font-size: medium;
   }

   &[display-size=l] {
      font-weight: 500;
      font-size: large;
   }

   &[display-size=xl] {
      font-weight: 700;
      font-size: x-large;
   }

   &[display-size=xxl] {
      font-weight: 700;
      font-size: xx-large;
   }
}
