.MuiPaper-root {
   background-color: $background-grey1;

   .MuiTypography-root {
      color: $text;
   }
}

.MuiInputLabel-root {
   color: $text-darken;
}

.MuiButton-containedPrimary {
   color: $text;
}

.MuiButton-containedSecondary {
   color: $text-secondary;
}

.MuiButton-containedTertiary {
   color: $text-tertiary;
}
