.MuiPaper-root {
   background-color: $background-grey1;

   .MuiTypography-root {
      color: $text;
   }
}

.MuiInputLabel-root {
   color: $text-darken;
}

.MuiButton-containedPrimary,
.MuiRadio-colorPrimary,
.MuiRadio-colorSecondary,
.MuiRadio-colorTertiary {
   color: $text;
}

.MuiCheckbox-colorPrimary {
   color: $primary;
}

.MuiCheckbox-colorSecondary {
   color: $secondary;
}

.MuiCheckbox-colorTertiary {
   color: $tertiary;
}

.MuiCheckbox-colorSuccess {
   color: $success;
}

.MuiCheckbox-colorWarn {
   color: $warn;
}

.MuiCheckbox-colorError {
   color: $error;
}

.MuiButton-containedSecondary {
   color: $text-secondary;
}

.MuiButton-containedTertiary {
   color: $text-tertiary;
}

.MuiButton-containedSuccess {
   color: $text-success;
}

.MuiButton-containedWarn {
   color: $text-warn;
}

.MuiButton-containedError {
   color: $text-error;
}

[variant=contained] {
   &.MuiIconButton-colorPrimary {
      background-color: $primary;
      color: $text;
   }

   &.MuiIconButton-colorSecondary {
      background-color: $secondary;
      color: $text-secondary;
   }

   &.MuiIconButton-colorTertiary {
      background-color: $tertiary;
      color: $text-tertiary;
   }
   
   &.MuiIconButton-colorSuccess {
      background-color: $success;
      color: $text-success;
   }

   &.MuiIconButton-colorError {
      background-color: $error;
      color: $text-error;
   }

   &.MuiIconButton-colorWarn {
      background-color: $warn;
      color: $text-warn;
   }
}
