form {
   width: 100%;

   .input-wrap:not(.input-wrap:last-child) {
      display: flex;
      margin-bottom: 1rem;
      gap: 1rem;
   }

   .buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 1rem;
   }
}
