h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0.5em;
   margin-bottom: 1em;
   line-height: 1em;
}

h1 {
   font-size: 2.3rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.8rem;
}

h4 {
   font-size: 1.6rem;
}

h5 {
   font-size: 1.3rem;
}

h6 {
   font-size: 1.1rem;
   line-height: 1em;
}

p {
   font-size: 1rem;
   line-height: 1.6em;
   margin-bottom: 1rem;
}

label {
   -webkit-user-select: none;
   user-select: none;
}

span {
   font-size: 1rem;
   line-height: 1em;
}

b {
   font-size: 1.1em;
   line-height: 1em;
}

a,
a:visited {
   color: $tertiary;
   line-height: 1em;
}

ul {
   margin-left: 1rem;

   &.no-bullet {
      list-style: none;

      li {
         margin-left: 0;
      }
   }
}

li.with-margin {
   margin-left: 1rem;
}

.grad-txt {
   background: $grad-primary-tertiary-light;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
   font-size: 1em;
   font-weight: 900;
}

.text-center {
   text-align: center;
}

.link {
   cursor: pointer;

   &:hover {
      color: $tertiary;
      text-decoration: underline;
   }
}
