$primary: #2EB7E5;
$primary-light: lighten($color: $primary, $amount: 20);
$primary-dark: darken($color: $primary, $amount: 20);

$secondary: #0C3845;
$secondary-light: lighten($color: $secondary, $amount: 20);
$secondary-dark: darken($color: $secondary, $amount: 20);

$tertiary: #30D974;
$tertiary-light: lighten($color: $tertiary, $amount: 20);
$tertiary-dark: darken($color: $tertiary, $amount: 20);

$background: #212A2D;
$background-paper: #252A2A;
$background-dark: #1C2122;
$background-grey: #222728;
$background-grad: radial-gradient(100vh, #28373C, #212A2D);

$grad-primary-tertiary-light: linear-gradient(80deg, $primary-light, $tertiary-light);

$success: #5CE091;
$success-light: lighten($color: $success, $amount: 20);
$success-dark: darken($color: $success, $amount: 20);

$error: #EF664B;
$error-light: lighten($color: $error, $amount: 20);
$error-dark: darken($color: $error, $amount: 20);

$warn: #D7C150;
$warn-light: lighten($color: $warn, $amount: 20);
$warn-dark: darken($color: $warn, $amount: 20);

$text: #FAFAFA;
$text-secondary: #0F282F;
$text-tertiary: #254331;
$text-warn: #3A290E;
$text-disabled: rgba(250,250,250,0.7);

// Breakpoints
$screen-xs: 375px;
$screen-s: 425px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1440px;
